<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="./nav/header.html"></div>
<div th:replace="./nav/menu.html"></div>

<!-- 도서 페이지 -->
<div class="container">
    <div class="row">
        <!-- 왼쪽에 세로 카테고리 네비게이션 -->
        <div class="col-md-2 mt-4 mb-4">
            <!-- todo: 상위 카테고리 필요 -->
            <h4><b>국내도서</b></h4>
            <div class="list-group">
                <div th:replace="./sidebar/book_sidebar.html"></div>
            </div>
        </div>
        <div class="col-md-10 mt-4 mb-4">
            <div class="col-12 mb-4">
                <div class="row justify-content-between">
                    <div class="col-sm-10">
                        <!-- 현재 카테고리 -->
                        <p style="margin-bottom: 0px">카테고리</p>
                        <div class="current-category" style="margin-bottom: 10px">
                                <span th:each="category, index : ${allParentCategories}">
                                    <a style="font-size: 14px; color: gray" th:text="${category.getCategoryName()}" th:href="'/book/' + ${category.getCategoryId()}"/>
                                    <span th:if="${not #lists.isEmpty(allParentCategories)}" th:unless="${index.last}" style="font-size: 14px; color: gray"> > </span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 책 세부사항 -->
            <div class="col-md-12 mt-4 mb-4">
                <!-- 책 이름 -->
                <div class="row">
                    <!-- 책 이미지 -->
                    <div class="col-md-4">
                        <img th:src="'https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_fcb81f74e379456b8ca0e091d351a7af/no24/' + ${bookInfo.getBookImage()}" th:alt="${bookInfo.getBookTitle()}" style="width: 90%; height:90%; object-fit: cover;">
                    </div>
                    <div class="col-md-8">
                        <h2><strong th:text="${bookInfo.getBookTitle()}"></strong></h2>
                        <!-- 책 가격, 적립금, 재고 상태, 배송 안내 등 -->
                        <p th:text="'정가: ' + ${bookInfo.getBookFixedPrice()} + '원'"/>
                        <p th:text="'할인가: ' + ${bookInfo.getBookSalePrice()} + '원'"/>
                        <p th:text="'적립금: ' + ${bookInfo.getBookSalePrice() / 20} + '원'"/>
                        <p th:if="${bookInfo.getBookQuantity() == 0}">재고 상태: 재고 없음</p>
                        <p th:if="${bookInfo.getBookQuantity() != 0}">재고 상태: 재고 있음</p>
                        <p>배송 안내: 2~3일 소요</p>

                        <div class="row">
                            <div class="col-md-3 input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="button" id="decreaseQty">-</button>
                                </div>
                                <input type="number" class="form-control" value="1" id="quantity" min="1" style="text-align: center;">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="increaseQty">+</button>
                                </div>
                            </div>
                            <!-- 좋아요 개수 및 버튼 -->
                            <!-- 구매하기, 장바구니 버튼 -->
                            <button type="button" class="btn btn-primary" id="buyNow-button">구매하기</button>
                            <button type="button" class="btn btn-secondary ml-2" id="cart-button">장바구니</button>
                        </div>

                        <br>

                        <a href="#"><span><img class="icon" src="/icon/like.png" alt="좋아요" style="width: 30px; height:30px;"></span></a>
                        <span th:text="${bookInfo.getLikes()}"></span>
                    </div>
                </div>

                <hr>

                <!-- 책의 자세한 설명 -->
                <div class="row mt-4">
                    <div class="col">
                        <h3 class="mb-3"><strong>책 소개</strong></h3>
                        <span th:utext="${bookInfo.getBookDescription()}"></span>
                    </div>
                </div>

                <hr>

                <div class="row mt-4">
                    <div class="col-md-12 mb-4">
                        <div class="mb-3">
                            <h3 class="mr-3" style="display: inline; vertical-align: middle;"><strong>리뷰 작성</strong></h3>
                            <span class="text-muted" style="vertical-align: middle;">* 리뷰를 작성하는 경우 200 포인트가 적립되며, 사진 첨부 시 300 포인트가 추가 적립됩니다.</span>
                        </div>
                        <form id="review">
                            <!--                                <div class="row">-->
                            <!--                                    <div class="col-10 mb-4">-->
                            <div class="form-group">
                                <fieldset>
                                    <span class="text-bold">별점을 선택해주세요</span>
                                    <input type="radio" name="reviewStar" value="5" id="rate1"><label
                                        for="rate1">★</label>
                                    <input type="radio" name="reviewStar" value="4" id="rate2"><label
                                        for="rate2">★</label>
                                    <input type="radio" name="reviewStar" value="3" id="rate3"><label
                                        for="rate3">★</label>
                                    <input type="radio" name="reviewStar" value="2" id="rate4"><label
                                        for="rate4">★</label>
                                    <input type="radio" name="reviewStar" value="1" id="rate5"><label
                                        for="rate5">★</label>
                                </fieldset>
                                <textarea class="form-control" name="reviewContent" placeholder="리뷰를 작성하세요" rows="3"></textarea>
                                <div class="addImage" id="image-show"></div>
                                <input type="file" accept="image/*" onchange="loadFile(this)" id="reviewImage">
                            </div>
                            <!--                                    </div>-->
                            <!--                                    <div class="col-2 mb-4">-->
                            <button type="submit" class="btn btn-primary">작성</button>
                            <!--                                    </div>-->
                            <!--                                </div>-->
                        </form>
                    </div>
                </div>

                <hr>

                <!-- 유저 리뷰 -->
                <div class="row mt-4">
                    <div class="col-md-12">
                        <!-- 리뷰 목록 -->
                        <h3 class="mb-3"><strong>이 책의 리뷰</strong></h3>
                        <div class="card mt-2">
                            <div class="card-body" th:each="item : ${review}" th:id="'review-id-' + ${item.getReviewId()}">
                                <div class="row">
<!--                                    <div class="col-md-2">-->
<!--                                        <img src="/icon/user.png" style="width: 100%;">-->
<!--                                    </div>-->
                                    <div class="col-md-10">
                                        <p class="card-text"><span th:text="${item.getReviewContent()}"/></p>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-md-8"> <!-- 오른쪽 정렬을 위해 text-right 추가 -->
                                        <small class="text-muted mb-4" th:text="${memberId} + ' | ' + ${item.getCreatedAt()} + ' | ' + ${item.getReviewScore()}"></small>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <a href="#">이 글 추천하기</a>
                                        <!-- <a>추천 취소하기</a> -->
                                    </div>
                                </div>
                            </div>
                            <!-- Pagination -->
<!--                            <nav aria-label="Page navigation example" style="margin-bottom: 100px">-->
<!--                                <ul class="pagination justify-content-center">-->
<!--                                    &lt;!&ndash; 이전 버튼 &ndash;&gt;-->
<!--                                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">-->
<!--                                        <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(pageSize=${pageSize}, offset=${offset})}" tabindex="-1" aria-disabled="true">이전</a>-->
<!--                                    </li>-->

<!--                                    &lt;!&ndash; 페이지 번호 &ndash;&gt;-->
<!--                                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:classappend="${pageNumber == currentPage ? 'active' : ''}">-->
<!--                                        <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(pageSize=${pageNumber}, offset=${offset})}" th:text="${pageNumber}"></a>-->
<!--                                    </li>-->

<!--                                    &lt;!&ndash; 다음 버튼 &ndash;&gt;-->
<!--                                    <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}">-->
<!--                                        <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(pageSize=${pageSize}, offset=${offset})}">다음</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </nav>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark text-white text-center py-3">
    © 2024 no24 Bookstore. All rights reserved.
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let decreaseBtn = document.getElementById('decreaseQty');
        let increaseBtn = document.getElementById('increaseQty');
        let quantityInput = document.getElementById('quantity');

        decreaseBtn.addEventListener('click', function() {
            let currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        });

        increaseBtn.addEventListener('click', function() {
            let currentValue = parseInt(quantityInput.value);
            quantityInput.value = currentValue + 1;
        });
    });

    document.getElementById("cart-button").addEventListener("click", function(event) {
          var quantity = document.querySelector("#quantity").value;

          var cart = {
              bookIsbn: bookIsbn,
              bookQuantity: quantity
          };

          fetch("/cart/create", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json"
              },
              body: JSON.stringify(cart)
          })
          .then(function(response) {
              if (response.ok) {
                  alert("장바구니에 상품이 추가되었습니다.");
              } else {
                  alert("장바구니에 상품이 추가되지 않았습니다.");
              }
          })
          .catch(function(error) {
              console.error("장바구니 추가 중 오류 발생:", error);
          });
    });

    // document.getElementById("reviewImage").addEventListener("change", function(event) {
    //     event.preventDefault();
    //
    //     let imageFile = event.target.files[0];
    //     let url = window.location.href.split('/');
    //     let bookIsbn = url[url.length - 1];
    //
    //     let formData = new FormData();
    //     formData.append("file", imageFile);
    //     formData.append("bookIsbn", bookIsbn);
    //
    //     fetch("/upload-image", {
    //         method: "POST",
    //         headers: {
    //             "Content-Type": "multipart/form-data"
    //         },
    //         body: formData
    //     })
    //         .then(function(response) {
    //             if (response.ok) {
    //                 reviewImage = response.text();
    //                 console.log("이미지 업로드 완료");
    //             } else {
    //                 alert("이미지 업로드 실패");
    //             }
    //         })
    //         .catch(function(error) {
    //             console.error("이미지 업로드 중 오류 발생:", error);
    //         });
    // });

    // function uploadImageAndSubmitReview(imageFile, bookIsbn) {
    //     let formData = new FormData();
    //     formData.append("file", imageFile);
    //     formData.append("bookIsbn", bookIsbn);
    //
    //     fetch("/upload-image", {
    //         method: "POST",
    //         body: formData
    //     })
    //         .then(function(response) {
    //             if (response.ok) {
    //                 return response.text(); // 이미지 경로를 반환
    //             } else {
    //                 throw new Error("이미지 업로드 실패");
    //             }
    //         }
    //         );
    // }

    async function uploadImageAndSubmitReview(imageFile, bookIsbn) {
        let formData = new FormData();
        formData.append("file", imageFile);
        formData.append("bookIsbn", bookIsbn);

        try {
            const response = await fetch("/upload-image", {
                method: "POST",
                body: formData
            });

            if (response.ok) {
                return await response.text(); // 이미지 경로를 반환
            } else {
                throw new Error("이미지 업로드 실패");
            }
        } catch (error) {
            console.error("이미지 업로드 중 오류 발생:", error);
            throw error; // 오류를 호출자에게 전파
        }
    }

    document.getElementById("review").addEventListener("submit", async function(event) {
        event.preventDefault(); // 폼 기본 제출 동작 방지

        let url = window.location.href.split('/');
        let bookIsbn = url[url.length - 1];
        let reviewContent = document.querySelector("textarea").value;
        let reviewScore = document.querySelector('input[name="reviewStar"]:checked').value;
        let reviewImage = "";

        let imageFile = document.getElementById("reviewImage").files[0];
        if (imageFile) {
            reviewImage = await uploadImageAndSubmitReview(imageFile, bookIsbn);
        }

        var reviewData = {
            reviewContent: reviewContent,
            reviewScore: reviewScore,
            reviewImage: reviewImage,
            bookIsbn: bookIsbn,
            customerNo: null
        };

        fetch("/review", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(reviewData)
        })
            .then(function(response) {
                if (response.ok) {
                    alert("리뷰가 작성되었습니다.");
                    document.getElementById("review").reset();
                } else {
                    alert("구매 확정된 도서에만 리뷰를 작성할 수 있습니다.");
                }
            })
            .catch(function(error) {
                console.error("리뷰 작성 중 오류 발생:", error);
            });
    });

    function loadFile(input) {
        let file = input.files[0]; // 선택파일 가져오기

        let newImage = document.createElement("img"); //새 이미지 태그 생성

        //이미지 source 가져오기
        newImage.src = URL.createObjectURL(file);
        newImage.style.width = "100px"; //div에 꽉차게 넣으려고
        newImage.style.height = "100px";
        newImage.style.objectFit = "cover"; // div에 넘치지 않고 들어가게

        //이미지를 image-show div에 추가
        let container = document.getElementById('image-show');
        container.appendChild(newImage);
    }
</script>
</body>
</html>