<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{'/css/style.css'}" />
</head>
<body>
    <div class="p-4">
        <h4><strong>포장지 설정</strong></h4>
        <table id="packaging-table" class="table">
            <thead>
            <tr>
                <th scope="col">포장지</th>
                <th scope="col">가격</th>
                <th scope="col">개수</th>
                <th scope="col">총 금액</th>
                <th scope="col">포장 삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr class="packaging-table-row">
                <td>
                    <select class="form-control packaging-select">
                        <option th:each="wrap : ${wrapList}" th:value="${wrap.getWrapId()}" th:text="${wrap.getWrapName()}"></option>
                    </select>
                </td>
                <td class="price align-middle">500</td>
                <td><input type="number" class="form-control quantity" value="1"></td>
                <td class="total align-middle"></td>
                <td><button class="btn btn-danger delete-row">포장 삭제</button></td>
            </tr>
            </tbody>
        </table>

        <div hidden>
            <p th:each="wrap : ${wrapList}" th:id="'wrap-' + ${wrap.getWrapId()}" th:text="${wrap.getWrapCost()}"></p>
        </div>

        <button class="btn btn-success" id="add-row">행 추가</button>

        <button class="btn btn-primary" id="submit-btn" onclick="sendMessage()">적용하기</button>

        <button class="btn btn-danger" id="submit-none" onclick="cancel()">포장 취소</button>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>

    <script>
        let count = 1;
        let maxCount = document.querySelectorAll('[id^="wrap-"]').length;

        $(document).ready(function() {
            // Add Row Button Click Event
            $('#add-row').click(function() {
                if(count >= maxCount) {
                    alert("포장지 개수가 최대입니다.");
                    return;
                }
                let newRow = $('.packaging-table-row').first().clone(); // 첫 번째 행 복제
                newRow.find('.quantity').val('1'); // 수량 초기화
                newRow.find('.total').text(''); // 총 금액 초기화
                $('#packaging-table tbody').append(newRow); // 테이블에 새로운 행 추가
                calculateTotal();
                count++;
            });

            // Delete Row Button Click Event
            $(document).on("click", ".delete-row", function() {
                if(count <= 1) {
                    alert("포장지 개수가 최소입니다.");
                    return;
                }
                $(this).closest("tr").remove();
                count--;
            });

            // Calculate Total Price
            function calculateTotal() {
                $("#packaging-table tbody tr").each(function() {
                    var price = parseInt($(this).find(".price").text());
                    var quantity = parseInt($(this).find(".quantity").val());
                    var total = price * quantity;
                    $(this).find(".total").text(total);
                });
            }

            $(document).on("change", ".packaging-select", function(e) {
                let currentDiv = e.target;
                let priceDiv = document.querySelector(`#wrap-${currentDiv.value}`);
                console.log(currentDiv.parentElement.parentElement);
                let targetDiv = currentDiv.parentElement.parentElement.querySelector('.price');
                let price = Number(priceDiv.innerText);
                // console.log(targetDiv);

                targetDiv.innerText = price;
            })

            // Calculate Total on Change
            $(document).on("change", ".packaging-select, .quantity", function() {
                calculateTotal();
            });

            // Initial Calculation
            calculateTotal();
        });

        function cancel() {
            let match = window.location.href.match(/\/wrap\/([0-9a-zA-Z]+)/);
            let bookIsbn = match ? match[1] : null;
            // 메인 페이지로 값을 전달
            window.opener.postMessage(bookIsbn + "-cancel", "*");

            // 팝업창 닫기
            window.close();
        }

        function sendMessage() {
            let arr = [];
            let rows = document.querySelectorAll('.packaging-table-row');

            rows.forEach(function (row) {
                let wrap = row.querySelector('.packaging-select');
                let wrap_id = Number(wrap.options[wrap.selectedIndex].value);
                let quantity = Number(row.querySelector('.quantity').value);

                let item = {
                    wrapId: wrap_id,
                    quantity: quantity
                };

                arr.push(item);
            });

            let match = window.location.href.match(/\/wrap\/([0-9a-zA-Z]+)/);
            let bookIsbn = match ? match[1] : null;
            // 메인 페이지로 값을 전달
            window.opener.postMessage(bookIsbn + "-" + JSON.stringify(arr), '*');

            // 팝업창 닫기
            window.close();
        }
    </script>

</body>
</html>
