<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="./nav/header.html"></div>
    <div th:replace="./nav/menu.html"></div>

    <!-- 도서 페이지 -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0"><strong th:text="'주문번호 : ' + ${order.getOrderId()}"></strong></h4>
                    </div>
                    <div class="card-body">
                        <h4 class="mb-4"><strong>주문 상세</strong></h4>
                        <div class="row">
                            <!-- 주문 상세 리스트 -->
                            <div th:each="orderDetail : ${orderDetails}" class="col-md-6 mb-4">
                                <div class="card p-4">
                                    <div class="row">
                                        <div class="col-md-3 mr-4">
                                            <img th:src="'https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_fcb81f74e379456b8ca0e091d351a7af/no24/' + ${orderDetail.getBook().getBookImage()}" style="height: 150px">
                                        </div>
                                        <div class="col-md-7">
                                            <h5><strong th:text="${orderDetail.getBook().getBookTitle()}"></strong></h5>
                                            <p th:text="${orderDetail.getBook().getBookSalePrice()} + '원 · ' + ${orderDetail.getQuantity()} + '권'">10,500원 · 3권</p>
                                            <h5><strong>포장비</strong></h5>
                                            <p th:text="${orderDetail.getWrapsPrice()} + '원'"></p>
                                        </div>
                                    </div>
<!--                                    <form method="post" action="/info/order/detail/delete">-->
<!--                                        <input type="text" name="order_detail_id" value="order_detail_id" hidden>-->
<!--                                        <button class="btn btn-danger btn-block mt-4">해당 주문 취소</button>-->
<!--                                    </form>-->
                                </div>
                            </div>
                        </div>

                        <hr>

                        <h4><strong>주문 정보</strong></h4>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">주문 날짜</th>
                                <td th:text="${order.getOrderDate()}"></td>
                            </tr>
                            <tr>
                                <th scope="row">주문 상태</th>
                                <td th:text="${order.getOrderState().toString()}"></td>
                            </tr>
                            <tr>
                                <th scope="row">총 금액</th>
                                <td th:text="${order.getTotalPrice()} + '원'"></td>
                            </tr>
                            <tr>
                                <th scope="row">수취인</th>
                                <td th:text="${order.getReceiverName()} + '(' + ${order.getReceiverPhoneNumber()} + ')'"/>
                            </tr>
                            <tr>
                                <th scope="row">배송 주소</th>
                                <td th:text="${order.getAddress()} + ' ' + ${order.getAddressDetail()}"></td>
                            </tr>
                            <tr>
                                <th scope="row">배송 요청사항</th>
                                <td>없음</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <footer class="bg-dark text-white text-center py-3">
        © 2024 no24 Bookstore. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>

    </body>
</html>
