<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/style.css'}" />
</head>
<body>
    <div th:replace="./nav/header.html"></div>
    <div th:replace="./nav/menu.html"></div>

    <!-- 카트 페이지 -->
    <form method="post" action="/payment" class="container mb-4">
        <h3 class="my-4"><strong>주문 결제 페이지</strong></h3>

        <hr>

        <h4>구매자 정보</h4>
        <div class="form-group col-3 pl-0">
            <label for="receiverName">이름</label>
            <input type="text" class="form-control" id="customerName" name="customerName" th:value="${cartInfo.customerName}"
                   placeholder="이름" disabled>
        </div>
        <div class="form-group col-3 pl-0">
            <label for="customerEmail">이메일</label>
            <input type="text" class="form-control" id="customerEmail" name="customerEmail" th:value="${cartInfo.customerEmail}"
                   placeholder="이메일">
        </div>
        <div class="form-group col-3 pl-0">
            <label for="customerPhoneNumber">전화번호</label>
            <input type="tel" class="form-control" id="customerPhoneNumber" name="customerPhoneNumber"
                   placeholder="전화번호" th:value="${cartInfo.customerPhoneNumber}">
        </div>

        <hr>

        <h4>받는 사람 정보</h4>
        <div class="form-group col-3 pl-0">
            <label for="receiverName">이름</label>
            <input type="text" class="form-control" id="receiverName" name="receiverName"
                   placeholder="이름" th:value="${cartInfo.receiverName}">
        </div>
        <div class="form-group col-3 pl-0">
            주소
            <input type="text" class="form-control" id="receiverPostcode" name="receiverPostcode" placeholder="우편번호" th:value="${cartInfo.zipcode}"
                   onclick="sample6_execDaumPostcode()" autocomplete="off" />
            <input type="text" class="form-control" id="receiverAddress" name="receiverAddress" placeholder="주소" th:value="${cartInfo.address}"
                   onclick="sample6_execDaumPostcode()" />
            <input type="text" class="form-control" id="receiverDetailAddress" name="receiverDetailAddress" placeholder="상세주소" th:value="${cartInfo.addressDetail}"
                   autocomplete="off" />
        </div>
        <div class="form-group col-3 pl-0">
            <label for="receiverPhoneNumber">전화번호</label>
            <input type="text" class="form-control" id="receiverPhoneNumber" name="receiverPhoneNumber" th:value="${cartInfo.customerPhoneNumber}">
        </div>

        <hr>

        <h4>상품 리스트</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">상품명</th>
                <th scope="col">수량</th>
                <th scope="col">가격</th>
                <th scope="col">쿠폰</th>
                <th scope="col">포장 여부</th>
                <th scope="col">총 금액</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${cartInfo.getBookInfos()}">
                    <td th:text="${item.bookTitle}" th:id="'title-' + ${item.bookIsbn}" th:name="'title-' + ${item.bookIsbn}"/>
                    <td th:text="${item.quantity}" />
                    <td th:text="${item.bookSalePrice}" />
                    <td>
                        <select class="form-control" th:id="'coupon-' + ${item.bookIsbn}" th:name="'coupon-' + ${item.bookIsbn}">
                            <option value="0">미구현</option>
<!--                            <option value="1">생일 축하 쿠폰 3000원</option>-->
<!--                            <option value="2">소설 카테고리 5% 할인 쿠폰</option>-->
<!--                            <option value="3">플래티넘 등급 20% 할인 쿠폰</option>-->
                        </select>
                    </td>
                    <td>
                        <a th:id="'wrap-input-' + ${item.bookIsbn}">포장지 설정(미구현)</a>
                    </td>
                    <td>
                        <span th:id="'total-price-' + ${item.bookIsbn}" th:text="${item.quantity * item.bookSalePrice}"></span>
                        원
                    </td>
                    <input type="text" th:id="'wrap-info-' + ${item.bookIsbn}" hidden th:name="'wrap-info-' + ${item.bookIsbn}" />
                    <input type="number" th:id="'quantity-' + ${item.bookIsbn}" hidden th:name="'quantity-' + ${item.bookIsbn}" th:value="${item.quantity}" />
                </tr>
            </tbody>
        </table>

        <hr>

        <h4>결제 정보</h4>
        <p>총 가격: <span id="totalPrice" th:text="'50000'"></span>원</p>

        <!-- 결제하기 버튼 -->
        <button type="submit" class="btn btn-primary mb-4" id="payment-button">결제하기</button>

        <br>
        <br>
    </form>

    <footer class="bg-dark text-white text-center py-3">
        © 2024 no24 Bookstore. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>

    <!-- 카카오 도로명 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    // 사용자가 어떤 주소를 선택하든 저장되는 주소는 도로명 주소 !
                    addr = data.roadAddress;

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('receiverPostcode').value = data.zonecode;
                    document.getElementById("receiverAddress").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("receiverDetailAddress").focus();
                }
            }).open();
        }
    </script>

    <!-- 가격 업데이트 -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let totalPriceDiv = document.querySelector("#totalPrice");
            let totalPrice = 0;

            document.querySelectorAll('[id^="total-price-"]').forEach(function(text) {
                console.log(text.innerText);
                totalPrice += parseFloat(text.innerText);
            });

            if(totalPrice < 30000) totalPrice += 3000;
            totalPriceDiv.innerText = totalPrice;
        });

        document.querySelectorAll('[id^="wrap-input-"]').forEach(function(btn) {
            btn.addEventListener("click", function () {
                // 팝업창을 열기 위한 코드
                let popup = window.open('/order/input/wrap', 'popup', 'width=800, height=500');

                // 팝업창이 닫힐 때 값을 전달받기 위한 이벤트 리스너
                window.addEventListener('message', function (event) {
                    // 전달받은 값이 있다면 처리
                    if (event.data) {
                        console.log(event.data);
                        document.getElementById('wrap-info-' + btn.id.split("-")[2]).value = event.data;
                    }
                });
            });
        });

        document.getElementById("payment-button").addEventListener("click", function(event) {
            var recipientAddress = document.querySelector("p:nth-child(8) span").innerText;
            var price = document.getElementById("totalPrice").innerText;
            var bookTitle = "";
            var totalQuantity = 0;

            document.querySelectorAll("tbody tr").forEach(function(row, index) {
                if (index === 0) {
                    bookTitle = row.querySelector("td:nth-child(1)").innerText;
                }
                totalQuantity += parseInt(row.querySelector("td:nth-child(2)").innerText);
            });

            var orderData = {
                firstBookTitle: bookTitle,
                numberOfBook: totalQuantity,
                totalPrice: price,
                deliveryAddress: recipientAddress
            }

            fetch("/order/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "customerNo" : customerNo
                },
                body: JSON.stringify(orderData)
            })
                .then(function(response) {
                    if (response.ok) {
                        console.log("주문 저장 성공!");
                    } else {
                        console.error("주문 저장 실패!");
                        // 실패 시 처리 코드 작성
                    }
                })
                .catch(function(error) {
                    console.error("주문 저장 중 오류 발생:", error);
                });
        });
    </script>
</body>
</html>
