<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/style.css'}" />
</head>
<body>
    <div th:replace="./nav/header.html"></div>
    <div th:replace="./nav/menu.html"></div>

    <!-- 카트 페이지 -->
    <form method="post" action="/payment" class="container mb-4">
        <h3 class="my-4"><strong>주문 결제 페이지</strong></h3>

        <hr>

        <h4>구매자 정보</h4>
        <p>이름: <span th:text="${cartInfo.customerName}"></span></p>
        <p>이메일: <input type="text" th:value="'이메일 추가 필요'"></p>
        <p>전화번호: <input type="text" th:value="${cartInfo.customerPhoneNumber}"></p>

        <hr>

        <h4>받는 사람 정보</h4>
        <p>이름: <span th:text="${cartInfo.customerName}"></span></p>
        <p>주소: <input type="text" th:value="'주소 추가 필요'"></p>
        <p>전화번호: <input type="text" th:value="${cartInfo.customerPhoneNumber}"></p>

        <hr>

        <h4>상품 리스트</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">상품명</th>
                <th scope="col">수량</th>
                <th scope="col">가격</th>
                <th scope="col">쿠폰</th>
                <th scope="col">포장 여부</th>
                <th scope="col">총 금액</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${cartInfo.getBookInfos()}">
                    <td th:text="${item.bookTitle}" />
                    <td th:text="${item.quantity}" />
                    <td th:text="${item.bookSalePrice}" />
                    <td>
                        <select class="form-control" th:id="'coupon-' + ${item.bookIsbn}" th:name="'coupon-' + ${item.bookIsbn}">
                            <option value="0">미구현</option>
<!--                            <option value="1">생일 축하 쿠폰 3000원</option>-->
<!--                            <option value="2">소설 카테고리 5% 할인 쿠폰</option>-->
<!--                            <option value="3">플래티넘 등급 20% 할인 쿠폰</option>-->
                        </select>
                    </td>
                    <td>
                        <a th:id="'wrap-input-' + ${item.bookIsbn}">포장지 설정(미구현)</a>
                    </td>
                    <td>
                        <span th:id="'total-price-' + ${item.bookIsbn}" th:text="${item.quantity * item.bookSalePrice}"></span>
                        원
                    </td>
                    <input type="text" th:id="'wrap-info-' + ${item.bookIsbn}" hidden th:name="'wrap-info-' + ${item.bookIsbn}" />
                    <input type="number" th:id="'quantity-' + ${item.bookIsbn}" hidden th:name="'quantity-' + ${item.bookIsbn}" th:value="${item.quantity}" />
                </tr>
            </tbody>
        </table>

        <hr>

        <h4>결제 정보</h4>
        <p>총 가격: <span id="totalPrice" th:text="'50000'"></span>원</p>

        <!-- 결제하기 버튼 -->
        <button type="submit" class="btn btn-primary mb-4" id="payment-button">결제하기</button>

        <br>
        <br>
    </form>

    <footer class="bg-dark text-white text-center py-3">
        © 2024 no24 Bookstore. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let totalPriceDiv = document.querySelector("#totalPrice");
            let totalPrice = 0;

            document.querySelectorAll('[id^="total-price-"]').forEach(function(text) {
                console.log(text.innerText);
                totalPrice += parseFloat(text.innerText);
            });

            if(totalPrice < 30000) totalPrice += 3000;
            totalPriceDiv.innerText = totalPrice;
        });

        document.querySelectorAll('[id^="wrap-input-"]').forEach(function(btn) {
            btn.addEventListener("click", function () {
                // 팝업창을 열기 위한 코드
                let popup = window.open('/order/input/wrap', 'popup', 'width=800, height=500');

                // 팝업창이 닫힐 때 값을 전달받기 위한 이벤트 리스너
                window.addEventListener('message', function (event) {
                    // 전달받은 값이 있다면 처리
                    if (event.data) {
                        console.log(event.data);
                        document.getElementById('wrap-info-' + btn.id.split("-")[2]).value = event.data;
                    }
                });
            });
        });

        document.getElementById("payment-button").addEventListener("click", function(event) {
            var recipientAddress = document.querySelector("p:nth-child(8) span").innerText;
            var price = document.getElementById("totalPrice").innerText;
            var bookTitle = "";
            var totalQuantity = 0;

            document.querySelectorAll("tbody tr").forEach(function(row, index) {
                if (index === 0) {
                    bookTitle = row.querySelector("td:nth-child(1)").innerText;
                }
                totalQuantity += parseInt(row.querySelector("td:nth-child(2)").innerText);
            });

            var orderData = {
                firstBookTitle: bookTitle,
                numberOfBook: totalQuantity,
                totalPrice: price,
                deliveryAddress: recipientAddress
            }

            fetch("/order/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "customerNo" : customerNo
                },
                body: JSON.stringify(orderData)
            })
                .then(function(response) {
                    if (response.ok) {
                        console.log("주문 저장 성공!");
                    } else {
                        console.error("주문 저장 실패!");
                        // 실패 시 처리 코드 작성
                    }
                })
                .catch(function(error) {
                    console.error("주문 저장 중 오류 발생:", error);
                });
        });
    </script>
</body>
</html>
