<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="./nav/header.html"></div>
<div th:replace="./nav/menu.html"></div>

<!-- 마이 페이지 -->
<div class="container">
    <div class="row">
        <!-- 왼쪽 메뉴 목록 네비게이션 -->
        <div class="col-md-2 mt-4 mb-4" style="min-height: 800px">
            <!-- todo: 상위 카테고리 필요 -->
            <div class="list-group">
                <div th:replace="./sidebar/admin_sidebar.html"></div>
            </div>
        </div>

        <div class="col-10 mt-4 mb-4">
            <form method="post" action="/admin/coupon/add">
            <h4><strong>쿠폰 추가</strong></h4>
            <!-- 쿠폰 이름 -->
            <div class="form-group">
                <label for="couponName">쿠폰 이름</label>
                <input type="text" class="form-control" id="couponName" name="couponName">
            </div>

            <!-- 만료일 -->
            <div class="form-group">
                <label for="deadline">만료일</label>
                <input type="date" class="form-control" id="deadline" name="deadline"
                       placeholder="yyyy-mm-dd" th:min="${tomorrow}" th:value="${tomorrow}">
            </div>


            <!-- 쿠폰 타입 설정 -->
            <div class="form-group">
                <label for="couponType">쿠폰 발급 제한</label>
                <input type="number" class="form-control" id="issueLimit" name="issueLimit">
            </div>

            <!-- 쿠폰 타입 설정 -->
            <div class="form-group">
                <label for="couponType">쿠폰 타입 설정</label>
                <select class="form-control" id="couponType" name="couponType">
                    <option value="AMOUNT">금액 차감 쿠폰</option>
                    <option value="PERCENTAGE">금액 대비 금액 차감 쿠폰(%)</option>
                </select>
            </div>

            <!-- 쿠폰 타입에 따른 설정 -->
            <div id="couponTypeSettings">
                <!-- 금액 차감 쿠폰인 경우 -->
                <div id="amountDeductionCouponSettings">
                    <div class="form-group">
                        <label for="discountPrice">할인금액</label>
                        <input type="number" class="form-control" id="discountPrice" name="discountPrice" placeholder="할인금액 입력">
                    </div>
                </div>
                <!-- 금액 대비 금액 차감 쿠폰(%)인 경우 -->
                <div id="percentageDeductionCouponSettings" style="display: none;">
                    <div class="form-group">
                        <label for="discountRate">할인율(%)</label>
                        <input type="number" class="form-control" id="discountRate" name="discountRate" placeholder="할인율 입력">
                    </div>
                    <div class="form-group">
                        <label for="maxDiscountPrice">최대할인 금액</label>
                        <input type="number" class="form-control" id="maxDiscountPrice" name="maxDiscountPrice" placeholder="최대할인 금액 입력">
                    </div>
                </div>
            </div>

            <!-- 쿠폰 대상 설정 -->
            <div class="form-group">
                <label for="couponTarget">쿠폰 대상 설정</label>
                <select class="form-control" id="couponTarget" name="couponTarget">
                    <option value="NORMAL">일반 쿠폰</option>
                    <option value="CATEGORY">카테고리 쿠폰</option>
                    <option value="BOOK">도서 쿠폰</option>
                </select>
            </div>

            <!-- 대상 설정에 따른 설정 -->
            <div id="couponTargetSettings">
                <!-- 도서 쿠폰인 경우 -->
                <div id="bookCouponSettings" style="display: none;">
                    <div class="form-group">
                        <label for="bookIsbn">도서 ISBN</label>
                        <input type="text" class="form-control" id="bookIsbn" name="bookIsbn" placeholder="도서 ISBN 입력">
                    </div>
                </div>
                <!-- 카테고리 쿠폰인 경우 -->
                <div id="categoryCouponSettings" style="display: none;">
                    <div class="form-group">
                        <label for="categoryName">대상 카테고리 이름</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="대상 카테고리 이름 입력">
                    </div>
                </div>
            </div>

            <!-- 저장 버튼 -->
            <button type="submit" class="btn btn-primary">저장</button>
            </form>
        </div>
    </div>
</div>

<footer class="bg-dark text-white text-center py-3">
    © 2024 no24 Bookstore. All rights reserved.
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        // 쿠폰 타입에 따른 설정 토글
        $('#couponType').change(function(){
            if ($(this).val() === 'AMOUNT') {
                $('#amountDeductionCouponSettings').show();
                $('#percentageDeductionCouponSettings').hide();
            } else if ($(this).val() === 'PERCENTAGE') {
                $('#amountDeductionCouponSettings').hide();
                $('#percentageDeductionCouponSettings').show();
            }
        });

        // 쿠폰 대상 설정에 따른 설정 토글
        $('#couponTarget').change(function(){
            if ($(this).val() === 'BOOK') {
                $('#bookCouponSettings').show();
                $('#categoryCouponSettings').hide();
            } else if ($(this).val() === 'CATEGORY') {
                $('#bookCouponSettings').hide();
                $('#categoryCouponSettings').show();
            } else {
                $('#bookCouponSettings').hide();
                $('#categoryCouponSettings').hide();
            }
        });
    });
</script>
</body>
</html>
