<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="./nav/header.html"></div>
<div th:replace="./nav/menu.html"></div>

<!-- 마이 페이지 -->
<div class="container">
    <div class="row">
        <!-- 왼쪽 메뉴 목록 네비게이션 -->
        <div class="col-md-2 mt-4 mb-4" style="min-height: 800px">
            <!-- todo: 상위 카테고리 필요 -->
            <div class="list-group">
                <div th:replace="./sidebar/admin_sidebar.html"></div>
            </div>
        </div>

        <div class="col-md-10 mt-4 mb-4">
            <h4><strong>유목민의 투자의 정석(ISBN: 9788901279282)</strong></h4>
            <form method="post" action="/admin/book/modify/1">
                <!-- 제목 수정 -->
                <div class="form-group">
                    <label for="bookTitle">제목</label>
                    <input type="text" class="form-control" name="bookTitle" id="bookTitle" placeholder="책 제목 입력">
                </div>

                <!-- 설명 수정(textbox) -->
                <div class="form-group">
                    <label for="bookDescription">설명</label>
                    <textarea class="form-control" name="bookDescription" id="bookDescription" rows="3" placeholder="책 설명 입력"></textarea>
                </div>

                <!-- 출판일시 -->
                <div class="form-group">
                    <label for="publishDate">출판일시</label>
                    <input type="text" class="form-control" name="publishDate" id="publishDate" placeholder="출판일 입력">
                </div>

                <!-- 정가 -->
                <div class="form-group">
                    <label for="regularPrice">정가</label>
                    <input type="text" class="form-control" name="regularPrice" id="regularPrice" placeholder="정가 입력">
                </div>

                <!-- 판매가 -->
                <div class="form-group">
                    <label for="salePrice">판매가</label>
                    <input type="text" class="form-control" name="salePrice" id="salePrice" placeholder="판매가 입력">
                </div>

                <!-- 포장가능여부 -->
                <div class="form-group">
                    <label for="packagingAvailable">포장가능여부</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="packagingAvailable" id="packagingAvailable">
                        <label class="form-check-label" for="packagingAvailable">
                            포장 가능
                        </label>
                    </div>
                </div>

                <!-- 도서 상태(dropdown으로, 판매중, 재고 없음, 판매 종료) -->
                <div class="form-group">
                    <label for="bookStatus">도서 상태</label>
                    <select class="form-control" id="bookStatus" name="bookStatus">
                        <option>판매중</option>
                        <option>재고 없음</option>
                        <option>판매 종료</option>
                    </select>
                </div>

                <!-- 수량 -->
                <div class="form-group">
                    <label for="quantity">수량</label>
                    <input type="number" class="form-control" name="quantity" id="quantity" placeholder="수량 입력">
                </div>

                <!-- 이미지 -->
                <div class="form-group">
                    <label for="bookImage">이미지</label>
                    <input type="file" class="form-control-file" name="bookImage" id="bookImage">
                </div>

                <!-- 출판사 -->
                <div class="form-group">
                    <label for="publisher">출판사</label>
                    <input type="text" class="form-control" name="publisher" id="publisher" placeholder="출판사 입력">
                </div>

                <!-- 저장 버튼 -->
                <button type="submit" class="btn btn-primary">저장</button>
            </form>
        </div>
    </div>
</div>

<footer class="bg-dark text-white text-center py-3">
    © 2024 no24 Bookstore. All rights reserved.
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>
</body>
</html>
