
<ul class="navbar-nav category-nav">
  <h5><strong>서비스 관리</strong></h5>
  <li class="nav-item">
    <a class="nav-link" href="/admin/user">회원 관리</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/book">도서 관리</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/coupon">쿠폰 등록</a>
  </li>

  <br>

  <h5><strong>서비스 정책 관리</strong></h5>
  <li class="nav-item">
    <a class="nav-link" href="/admin/policy/wrap">포장지 정책 변경</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/policy/coupon">쿠폰 정책 변경</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/policy/tier">등급 정책 변경</a>
  </li>

  <br>

  <h5><strong>서비스 현황</strong></h5>
  <li class="nav-item">
    <a class="nav-link" href="/state/sales">매출 현황</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/state/user">유저 현황</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/state/order">주문 현황</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/state/delivery">배송 현황</a>
  </li>
</ul>