
<ul class="navbar-nav category-nav">
  <!-- todo: 하위 카테고리 List spread out -->
  <li class="nav-item">
    <a class="nav-link" href="#">소설</a>
  </li>
  <li class="nav-item" style="padding: 0px">
    <a class="nav-link" href="#">시/에세이</a>
  </li>
  <li class="nav-item" style="padding-top: 0px">
    <a class="nav-link" href="#">인문</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">가정/육아</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">요리</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">건강</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">취미/실용/스포츠</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">경제/경영</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">자기계발</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">정치/사회</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">역사/문화</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">종교</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">예술/대중문화</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">중/고등참고서</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">기술/공학</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">외국어</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">과학</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">취업/수험서</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">여행</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">컴퓨터/IT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">잡지</a>
  </li>
</ul>