
<ul class="navbar-nav category-nav">
  <h5><strong>회원 정보</strong></h5>
  <li class="nav-item">
    <a class="nav-link" href="/info/user">회원정보 수정</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info/address">배송주소 관리</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info/tier">내 등급 현황</a>
  </li>

  <br>

  <h5><strong>활동내역</strong></h5>
  <li class="nav-item">
    <a class="nav-link" href="/info/order">주문/배송 목록</a>
  </li>
  <li class="nav-item" style="padding-top: 0px">
    <a class="nav-link" href="/info/point">포인트 사용/적립 내역</a>
  </li>
  <li class="nav-item" style="padding: 0px">
    <a class="nav-link" href="/info/coupon">쿠폰함</a>
  </li>
  <li class="nav-item" style="padding-top: 0px">
    <a class="nav-link" href="/info/review">내 리뷰</a>
  </li>
  <li class="nav-item" style="padding-top: 0px">
    <a class="nav-link" href="/info/inquiry">문의 내역</a>
  </li>
</ul>