
<ul class="navbar-nav category-nav">
  <h5><strong>회원 정보</strong></h5>
  <li class="nav-item">
    <a class="nav-link" href="/info/user">회원정보 수정</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info/address">배송주소 관리</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">내 등급 현황</a>
  </li>

  <br>

  <h5><strong>쇼핑내역</strong></h5>
  <li class="nav-item">
    <a class="nav-link" href="#">주문/배송 목록</a>
  </li>
  <li class="nav-item" style="padding-top: 0px">
    <a class="nav-link" href="#">포인트 사용/적립 내역</a>
  </li>
  <li class="nav-item" style="padding: 0px">
    <a class="nav-link" href="#">쿠폰함</a>
  </li>
  <li class="nav-item" style="padding-top: 0px">
    <a class="nav-link" href="#">문의 내역</a>
  </li>
</ul>