<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="/nav/header.html"></div>
    <div th:replace="/nav/menu.html"></div>

    <!-- 도서 페이지 -->
    <div class="container">
        <div class="row">
            <!-- 왼쪽에 세로 카테고리 네비게이션 -->
            <div class="col-md-2 mt-4 mb-4">
                <!-- todo: 상위 카테고리 필요 -->
                <h4><b>국내도서</b></h4>
                <div class="list-group">
                    <ul class="navbar-nav category-nav">
                        <!-- todo: 하위 카테고리 List spread out -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">소설</a>
                        </li>
                        <li class="nav-item" style="padding: 0px">
                            <a class="nav-link" href="#">시/에세이</a>
                        </li>
                        <li class="nav-item" style="padding-top: 0px">
                            <a class="nav-link" href="#">인문</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">가정/육아</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">요리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">건강</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">취미/실용/스포츠</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">경제/경영</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">자기계발</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">정치/사회</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">역사/문화</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">종교</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">예술/대중문화</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">중/고등참고서</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">기술/공학</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">외국어</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">과학</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">취업/수험서</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">여행</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">컴퓨터/IT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">잡지</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 mt-4 mb-4">
                <div class="col-12 mb-4">
                    <div class="row justify-content-between">
                        <div class="col-sm-10">
                            <!-- 현재 카테고리 -->
                            <p style="margin-bottom: 0px">카테고리</p>
                            <div class="current-category" style="margin-bottom: 10px">
                                <a style="font-size: 14px; color: gray" href="#"> 국내도서</a>
                                <span style="font-size: 14px; color: gray"> > </span>
                                <a style="font-size: 14px; color: gray" href="#">인문</a>
                                <span style="font-size: 14px; color: gray"> > </span>
                                <a style="font-size: 14px; color: gray" href="#">인문학 일반</a>
                                <span style="font-size: 14px; color: gray"> > </span>
                                <a style="font-size: 14px; color: gray" href="#">인문교양</a>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    정렬
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">최신순</a></li>
                                    <li><a class="dropdown-item" href="#">판매량순</a></li>
                                    <li><a class="dropdown-item" href="#">가격 높은 순</a></li>
                                    <li><a class="dropdown-item" href="#">가격 낮은 순</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- 도서 상품 블록 시작 -->

                    <!-- 첫 번째 도서 블록 -->
                    <div class="col-12 mb-4">
                        <div class="row justify-content-between">
                            <!-- 책 이미지 -->
                            <div class="col-sm-2">
                                <img src="/img/book1.jpg" class="img-fluid" alt="Book 1" style="min-width: 110px">
                            </div>
                            <!-- 책 정보 -->
                            <div class="col-sm-8">
                                <strong>Book Title 1</strong>
                                <br>
                                <span>Author Name 저 · Publisher · 2024.04.02</span>
                                <br><br>
                                <strong>24,000원</strong>
                                <p class="description">최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온
                                    최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온</p>
                                <!-- 좋아요 / 리뷰 아이콘 -->
                                <div>
                                    <span><img class="icon" src="/icon/like.png" alt="좋아요" style="width: 20px; height:20px;"></span>
                                    <span>200</span>
                                    &nbsp;
                                    <span><img class="icon" src="/icon/review.png" alt="리뷰" style="width: 16px; height:16px;"></span>
                                    <span>10</span>
                                </div>
                            </div>
                            <!-- 버튼 -->
                            <div class="col-xs-2">
                                <div class="row-md-12">
                                    <button class="btn btn-primary">장바구니</button>
                                </div>
                                <div class="row-md-12 mt-2">
                                    <button class="btn btn-success">바로구매</button>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="col-12 mb-4">
                    <div class="row justify-content-between">
                        <!-- 책 이미지 -->
                        <div class="col-sm-2">
                            <img src="/img/book1.jpg" class="img-fluid" alt="Book 1" style="min-width: 110px">
                        </div>
                        <!-- 책 정보 -->
                        <div class="col-sm-8">
                            <strong>Book Title 1</strong>
                            <br>
                            <span>Author Name 저 · Publisher · 2024.04.02</span>
                            <br><br>
                            <strong>24,000원</strong>
                            <p class="description">최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온
                                최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온</p>
                            <!-- 좋아요 / 리뷰 아이콘 -->
                            <div>
                                <span><img class="icon" src="/icon/like.png" alt="좋아요" style="width: 20px; height:20px;"></span>
                                <span>200</span>
                                &nbsp;
                                <span><img class="icon" src="/icon/review.png" alt="리뷰" style="width: 16px; height:16px;"></span>
                                <span>10</span>
                            </div>
                        </div>
                        <!-- 버튼 -->
                        <div class="col-xs-2">
                            <div class="row-md-12">
                                <button class="btn btn-primary">장바구니</button>
                            </div>
                            <div class="row-md-12 mt-2">
                                <button class="btn btn-success">바로구매</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 mb-4">
                    <div class="row justify-content-between">
                        <!-- 책 이미지 -->
                        <div class="col-sm-2">
                            <img src="/img/book1.jpg" class="img-fluid" alt="Book 1" style="min-width: 110px">
                        </div>
                        <!-- 책 정보 -->
                        <div class="col-sm-8">
                            <strong>Book Title 1</strong>
                            <br>
                            <span>Author Name 저 · Publisher · 2024.04.02</span>
                            <br><br>
                            <strong>24,000원</strong>
                            <p class="description">최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온
                                최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온</p>
                            <!-- 좋아요 / 리뷰 아이콘 -->
                            <div>
                                <span><img class="icon" src="/icon/like.png" alt="좋아요" style="width: 20px; height:20px;"></span>
                                <span>200</span>
                                &nbsp;
                                <span><img class="icon" src="/icon/review.png" alt="리뷰" style="width: 16px; height:16px;"></span>
                                <span>10</span>
                            </div>
                        </div>
                        <!-- 버튼 -->
                        <div class="col-xs-2">
                            <div class="row-md-12">
                                <button class="btn btn-primary">장바구니</button>
                            </div>
                            <div class="row-md-12 mt-2">
                                <button class="btn btn-success">바로구매</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 mb-4">
                    <div class="row justify-content-between">
                        <!-- 책 이미지 -->
                        <div class="col-sm-2">
                            <img src="/img/book1.jpg" class="img-fluid" alt="Book 1" style="min-width: 110px">
                        </div>
                        <!-- 책 정보 -->
                        <div class="col-sm-8">
                            <strong>Book Title 1</strong>
                            <br>
                            <span>Author Name 저 · Publisher · 2024.04.02</span>
                            <br><br>
                            <strong>24,000원</strong>
                            <p class="description">최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온
                                최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온</p>
                            <!-- 좋아요 / 리뷰 아이콘 -->
                            <div>
                                <span><img class="icon" src="/icon/like.png" alt="좋아요" style="width: 20px; height:20px;"></span>
                                <span>200</span>
                                &nbsp;
                                <span><img class="icon" src="/icon/review.png" alt="리뷰" style="width: 16px; height:16px;"></span>
                                <span>10</span>
                            </div>
                        </div>
                        <!-- 버튼 -->
                        <div class="col-xs-2">
                            <div class="row-md-12">
                                <button class="btn btn-primary">장바구니</button>
                            </div>
                            <div class="row-md-12 mt-2">
                                <button class="btn btn-success">바로구매</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 mb-4">
                    <div class="row justify-content-between">
                        <!-- 책 이미지 -->
                        <div class="col-sm-2">
                            <img src="/img/book1.jpg" class="img-fluid" alt="Book 1" style="min-width: 110px">
                        </div>
                        <!-- 책 정보 -->
                        <div class="col-sm-8">
                            <strong>Book Title 1</strong>
                            <br>
                            <span>Author Name 저 · Publisher · 2024.04.02</span>
                            <br><br>
                            <strong>24,000원</strong>
                            <p class="description">최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온
                                최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온</p>
                            <!-- 좋아요 / 리뷰 아이콘 -->
                            <div>
                                <span><img class="icon" src="/icon/like.png" alt="좋아요" style="width: 20px; height:20px;"></span>
                                <span>200</span>
                                &nbsp;
                                <span><img class="icon" src="/icon/review.png" alt="리뷰" style="width: 16px; height:16px;"></span>
                                <span>10</span>
                            </div>
                        </div>
                        <!-- 버튼 -->
                        <div class="col-xs-2">
                            <div class="row-md-12">
                                <button class="btn btn-primary">장바구니</button>
                            </div>
                            <div class="row-md-12 mt-2">
                                <button class="btn btn-success">바로구매</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 mb-4">
                    <div class="row justify-content-between">
                        <!-- 책 이미지 -->
                        <div class="col-sm-2">
                            <img src="/img/book1.jpg" class="img-fluid" alt="Book 1" style="min-width: 110px">
                        </div>
                        <!-- 책 정보 -->
                        <div class="col-sm-8">
                            <strong>Book Title 1</strong>
                            <br>
                            <span>Author Name 저 · Publisher · 2024.04.02</span>
                            <br><br>
                            <strong>24,000원</strong>
                            <p class="description">최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온
                                최근 몇 년 동안 지구에서 가장 혁신적인 기업 가운데 하나라는 평가를 들어온 브리지워터 어소시에이츠 창립자로, 헤지펀드의 대부라 불리며 세계 0.001% 안에 드는 부의 거인 레이 달리오가 지켜온</p>
                            <!-- 좋아요 / 리뷰 아이콘 -->
                            <div>
                                <span><img class="icon" src="/icon/like.png" alt="좋아요" style="width: 20px; height:20px;"></span>
                                <span>200</span>
                                &nbsp;
                                <span><img class="icon" src="/icon/review.png" alt="리뷰" style="width: 16px; height:16px;"></span>
                                <span>10</span>
                            </div>
                        </div>
                        <!-- 버튼 -->
                        <div class="col-xs-2">
                            <div class="row-md-12">
                                <button class="btn btn-primary">장바구니</button>
                            </div>
                            <div class="row-md-12 mt-2">
                                <button class="btn btn-success">바로구매</button>
                            </div>
                        </div>
                    </div>
                </div>


                    <!-- Pagination -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">다음</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        © 2024 no24 Bookstore. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>
    </body>
</html>
