<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #D3D3D3">
    <div class="container">
        <div class="col-md-2 mr-4">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" alt="no24 bookstore" style="height: 80px;">
            </a>
        </div>
        <div class="col-md-10 ml-4">
            <form class="row">
                <div class="col-10">
                    <input class="form-control mr-sm-2" type="search" placeholder="찾으려는 도서를 입력해주세요." aria-label="Search">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">통합검색</button>
                </div>
            </form>
        </div>
    </div>
</nav>