<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>no24 Bookstore</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:replace="./nav/header.html"></div>
<div th:replace="./nav/menu.html"></div>
<div>탈퇴가 완료되었습니다.</div>
</body>
</html>