<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="./nav/header.html"></div>
    <div th:replace="./nav/menu.html"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <!-- 로그인 항목 -->
                <div class="card mt-5">
                    <div class="card-body">
                        <h5 class="card-title">로그인</h5>
                        <form name="LoginDto" method="post" action="/login">
                            <div class="form-group">
                                <label for="id">아이디</label>
                                <input type="text" class="form-control" id="id" name="username" placeholder="아이디">
                            </div>
                            <div class="form-group">
                                <label for="password">비밀번호</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
                            </div>
                            <p th:if="${message != null}" th:text="${message}" style="color: red" class="mb-2"></p>
                            <button type="submit" class="btn btn-primary btn-block">로그인</button>
                            <a th:href="${paycoUrl}" class="btn btn-block" style="background-color: #fa2828">
                                <img src="/icon/payco.png" style="height: 15px; vertical-align: middle;">
                                <span style="vertical-align: middle; color: white">로그인</span>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 offset-md-4">
                <p style="margin-bottom: 5px">회원이 아니신가요?</p>
                <!-- 회원가입 버튼 -->
                <a href="/registerPage" class="btn btn-secondary btn-block">회원가입</a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4 offset-md-4">
                <!-- OAuth 로그인 버튼 -->
                <a th:href="${paycoUrl}" class="btn btn-block" style="background-color: #fa2828">
                    <img src="/icon/payco.png" style="height: 15px; vertical-align: middle;">
                    <span style="vertical-align: middle; color: white">회원가입</span>
                </a>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        © 2024 no24 Bookstore. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>
    </body>
</html>
