<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>no24 Bookstore</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:replace="./nav/header.html"></div>
<div th:replace="./nav/menu.html"></div>

<div class="container">
  <div class="jumbotron text-center" style="background-color: white">
    <h1 class="display-4">회원가입 성공!</h1>
    <p class="lead">회원가입이 성공적으로 완료되었습니다.</p>
    <p>이제 로그인하여 서비스를 이용해보세요.</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">로그인 페이지로 이동</a>
  </div>
</div>
</body>
</html>