<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="/nav/header.html"></div>
    <div th:replace="/nav/menu.html"></div>

    <!-- 마이 페이지 -->
    <div class="container">
        <div class="row">
            <!-- 왼쪽 메뉴 목록 네비게이션 -->
            <div class="col-md-2 mt-4 mb-4" style="min-height: 800px">
                <!-- todo: 상위 카테고리 필요 -->
                <div class="list-group">
                    <div th:replace="/sidebar/user_sidebar.html"></div>
                </div>
            </div>

            <div class="col-10 mt-4 mb-4">
                <h4><strong th:text="${title}"></strong></h4>

                <form method="post" action="/info/address/add">
                    <div class="form-group">
                        <label for="alias">별칭</label>
                        <input type="text" class="form-control" id="alias" placeholder="주소 별칭">
                    </div>
                    <div class="form-group">
                        <label for="receiver">받는 사람</label>
                        <input type="text" class="form-control" id="receiver" placeholder="받는 사람">
                    </div>
                    <div class="form-group">
                        <label for="phone_number">연락처</label>
                        <input type="tel" class="form-control" id="phone_number" placeholder="연락처">
                    </div>
                    <div class="form-group">
                        <label for="address">주소</label>
                        <input type="text" class="form-control" id="address" placeholder="주소 입력">
                    </div>
                    <div class="form-group">
                        <label for="address_detail">상세 주소</label>
                        <input type="text" class="form-control" id="address_detail" placeholder="상세 주소 입력">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="default_address">
                        <label class="form-check-label" for="default_address">기본 배송지 설정</label>
                    </div>
                    <button type="submit" class="btn btn-primary">배송지 추가</button>
                </form>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        © 2024 no24 Bookstore. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>
    </body>
</html>
