<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="./nav/header.html"></div>
    <div th:replace="./nav/menu.html"></div>

    <!-- 도서 페이지 -->
    <div class="container">
        <div class="row">
            <!-- 왼쪽에 세로 카테고리 네비게이션 -->
            <div class="col-md-2 mt-4 mb-4" style="min-height: 800px">
                <div class="list-group">
                    <div th:replace="./sidebar/user_sidebar.html"></div>
                </div>
            </div>

            <div class="col-md-10 mt-4 mb-4">
                <h4 class="mb-3"><strong>쿠폰함</strong></h4>
                <!-- todo: 쿠폰 이미지 고려 필요 -->
                <div class="row ">
                    <div th:each="coupon : ${couponList}" class="col-sm-5 card p-4 m-4" style="border: solid 1px #d0d0d0; background-color: #fcfcfc; border-radius: 5px;">
                        <div class="row">
                            <div class="col-md-5">
                                <img th:if="${coupon.getDiscountPrice() != null}" th:src="'/icon/coupon/coupon_' + ${coupon.getDiscountPrice()} + '.png'" style="height:70px;">
                                <img th:if="${coupon.getDiscountRate() != null}" th:src="'/icon/coupon/coupon_' + ${coupon.getDiscountRate()} + 'percent.png'" style="height:70px;">
                            </div>
                            <div class="col-md-7">
                                <h4><strong th:text="${coupon.getCouponName()}"></strong></h4>
                                <p th:if="${coupon.getDiscountPrice() != null}" th:text="'도서 ' + ${coupon.getDiscountPrice()} + '원 할인'">도서 3,000원 할인</p>
                                <p th:if="${coupon.getDiscountRate() != null}" th:text="'도서 ' + ${coupon.getDiscountRate()} + '% 할인 (최대금액: ' + ${coupon.getMaxDiscountPrice()} + '원 할인)'">도서 3,000원 할인</p>
                                <p th:text="'만료 일자: ' + ${coupon.getDestroyedAt()}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <nav aria-label="Page navigation example" style="margin-bottom: 100px">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">다음</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        © 2024 no24 Bookstore. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>
    </body>
</html>
