<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="/nav/header.html"></div>
    <div th:replace="/nav/menu.html"></div>

    <!-- 도서 페이지 -->
    <div class="container">
        <div class="row">
            <!-- 왼쪽에 세로 카테고리 네비게이션 -->
            <div class="col-md-2 mt-4 mb-4" style="min-height: 800px">
                <div class="list-group">
                    <div th:replace="/sidebar/user_sidebar.html"></div>
                </div>
            </div>

            <div class="col-md-10 mt-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0"><strong>주문번호 : KNB-2404040900-0001</strong></h4>
                    </div>
                    <div class="card-body">
                        <h4 class="mb-4"><strong>주문 상세</strong></h4>
                        <div class="row">
                            <!-- 주문 상세 리스트 -->
                            <div class="col-md-6 mb-4">
                                <div class="card p-4">
                                    <div class="row">
                                        <div class="col-md-3 mr-4">
                                            <img src="/img/book1.jpg" style="height: 150px">
                                        </div>
                                        <div class="col-md-7">
                                            <h4><strong>투자의 정석</strong></h4>
                                            <p>10,500원 · 3권</p>
                                            <h5><strong>포장비</strong></h5>
                                            <p>1,200원 (A 1권, B 2권)</p>
                                        </div>
                                    </div>
                                    <form method="post" action="/info/order/detail/delete">
                                        <input type="text" name="order_detail_id" value="order_detail_id" hidden>
                                        <button class="btn btn-danger btn-block mt-4">해당 주문 취소</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="card p-4">
                                    <div class="row">
                                        <div class="col-md-3 mr-4">
                                            <img src="/img/book1.jpg" style="height: 150px">
                                        </div>
                                        <div class="col-md-7">
                                            <h4><strong>투자의 정석</strong></h4>
                                            <p>10,500원 · 3권</p>
                                            <h5><strong>포장비</strong></h5>
                                            <p>1,200원 (A 1권, B 2권)</p>
                                        </div>
                                    </div>
                                    <form method="post" action="/info/order/detail/delete">
                                        <input type="text" name="order_detail_id" value="order_detail_id" hidden>
                                        <button class="btn btn-danger btn-block mt-4">해당 주문 취소</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="card p-4">
                                    <div class="row">
                                        <div class="col-md-3 mr-4">
                                            <img src="/img/book1.jpg" style="height: 150px">
                                        </div>
                                        <div class="col-md-7">
                                            <h4><strong>투자의 정석</strong></h4>
                                            <p>10,500원 · 3권</p>
                                            <h5><strong>포장비</strong></h5>
                                            <p>1,200원 (A 1권, B 2권)</p>
                                        </div>
                                    </div>
                                    <form method="post" action="/info/order/detail/delete">
                                        <input type="text" name="order_detail_id" value="order_detail_id" hidden>
                                        <button class="btn btn-danger btn-block mt-4">해당 주문 취소</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="card p-4">
                                    <div class="row">
                                        <div class="col-md-3 mr-4">
                                            <img src="/img/book1.jpg" style="height: 150px">
                                        </div>
                                        <div class="col-md-7">
                                            <h4><strong>투자의 정석</strong></h4>
                                            <p>10,500원 · 3권</p>
                                            <h5><strong>포장비</strong></h5>
                                            <p>1,200원 (A 1권, B 2권)</p>
                                        </div>
                                    </div>
                                    <form method="post" action="/info/order/detail/delete">
                                        <input type="text" name="order_detail_id" value="order_detail_id" hidden>
                                        <button class="btn btn-danger btn-block mt-4">해당 주문 취소</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <h4><strong>주문 정보</strong></h4>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">주문 날짜</th>
                                <td>2024년 4월 4일 23:56</td>
                            </tr>
                            <tr>
                                <th scope="row">주문 상태</th>
                                <td>배송 중</td>
                            </tr>
                            <tr>
                                <th scope="row">주문 금액</th>
                                <td>63,000원</td>
                            </tr>
                            <tr>
                                <th scope="row">배송비</th>
                                <td>0원</td>
                            </tr>
                            <tr>
                                <th scope="row">총 금액</th>
                                <td>63,000원</td>
                            </tr>
                            <tr>
                                <th scope="row">결제 수단</th>
                                <td>토스페이먼츠</td>
                            </tr>
                            <tr>
                                <th scope="row">수취인</th>
                                <td>Test User (010-1423-3132)</td>
                            </tr>
                            <tr>
                                <th scope="row">배송 주소</th>
                                <td>대전광역시 유성구 궁동 99(34136) 정보화본부 N2-1 1303호</td>
                            </tr>
                            <tr>
                                <th scope="row">배송 요청사항</th>
                                <td>없음</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <footer class="bg-dark text-white text-center py-3">
        © 2024 no24 Bookstore. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>

    </body>
</html>
