<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="/nav/header.html"></div>
    <div th:replace="/nav/menu.html"></div>

    <!-- 도서 페이지 -->
    <div class="container">
        <div class="row">
            <!-- 왼쪽에 세로 카테고리 네비게이션 -->
            <div class="col-md-2 mt-4 mb-4" style="min-height: 800px">
                <div class="list-group">
                    <div th:replace="/sidebar/user_sidebar.html"></div>
                </div>
            </div>

            <div class="col-md-10 mt-4 mb-4">
                <h4 class="mb-3"><strong>포인트 사용/적립 내역</strong></h4>

                <!-- 포인트 사용/적립 내역 표 생성 -->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">날짜</th>
                            <th scope="col">내역</th>
                            <th scope="col">포인트</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2024-04-01 09:00:12</td>
                            <td>적립</td>
                            <td class="text-success">+100</td>
                        </tr>
                        <tr>
                            <td>2024-04-02 23:34:43</td>
                            <td>사용</td>
                            <td class="text-danger">-50</td>
                        </tr>
                        <!-- 추가적인 내역들을 이곳에 추가 -->
                        </tbody>
                    </table>
                </div>

                <!-- Pagination -->
                <nav aria-label="Page navigation example" style="margin-bottom: 100px">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">다음</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        © 2024 no24 Bookstore. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>
    </body>
</html>
