<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="./nav/header.html"></div>
    <div th:replace="./nav/menu.html"></div>

    <!-- 마이 페이지 -->
    <div class="container">
        <div class="row">
            <!-- 왼쪽 메뉴 목록 네비게이션 -->
            <div class="col-md-2 mt-4 mb-4" style="min-height: 800px">
                <div class="list-group">
                    <div th:replace="./sidebar/user_sidebar.html"></div>
                </div>
            </div>

            <div class="col-10 mt-4 mb-4">
                <h4><strong>회원정보 수정</strong></h4>
                <!-- 회원정보 수정 -->
                <form>
                    <div class="form-group">
                        <label for="username">사용자 이름</label>
                        <input type="text" class="form-control" id="username" placeholder="사용자 이름" th:value="${member.getMemberName()}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="email">이메일 주소</label>
                        <input type="email" class="form-control" id="email" name="email" th:value="${member.getEmail()}" placeholder="이메일 주소">
                    </div>
                    <div class="form-group">
                        <label for="phone_number">연락처</label>
                        <input type="tel" class="form-control" id="phone_number" name="phone_number" th:value="${member.getPhoneNumber()}" placeholder="연락처">
                    </div>
                    <div class="form-group">
                        <label for="change_password">변경 비밀번호</label>
                        <input type="password" class="form-control" id="change_password" name="change_password" placeholder="변경 비밀번호 입력">
                    </div>
                    <div class="form-group">
                        <label for="check_password">변경 비밀번호 확인</label>
                        <input type="password" class="form-control" id="check_password" name="check_password" placeholder="변경 비밀번호 재입력">
                    </div>
                    <button type="submit" class="btn btn-primary">변경</button>
                    <a href="/info/user/delete" class="btn btn-danger" id="deleteBtn">회원 탈퇴</a>
                </form>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        © 2024 no24 Bookstore. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>
    </body>
    <script>
        document.getElementById("deleteBtn").addEventListener("click", function(event) {
            event.preventDefault(); // 기본 동작(링크 이동) 방지

            if (confirm("정말로 삭제하시겠습니까?")) {
                window.location.href = event.target.getAttribute("href"); // 링크로 이동
            }
        });
    </script>
</html>
