<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>no24 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{'/css/style.css'}" />
</head>
<body>
    <div th:replace="./nav/header.html"></div>
    <div th:replace="./nav/menu.html"></div>

    <!-- 카트 페이지 -->
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 mb-4">
                <h3 style="display: inline;"><strong>장바구니</strong></h3>
                <h4 style="display: inline;"><strong th:text="'(' + ${cart.size()} + ')'"></strong></h4>
                <br>


                <!-- 장바구니 요소 -->
                <form method="post" action="/order" class="row mt-2">
                    <!-- 전체 선택 -->
                    <div class="col-md-12 m-2 p-0">
                        <div class="form-check">
                            <input type="checkbox" id="selectAll">
                            <span>전체 선택</span>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <!-- 아이템 -->
                        <div class="col-md-12" th:each="item : ${cart}">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                                        <!-- 개별 선택 체크박스 -->
                                        <input type="checkbox" th:name="'item-checkbox-' + ${item.id}" class="item-checkbox" style="width: 25px; height: 25px;">
                                    </div>
                                    <div class="col-md-2 pt-4 pb-4 justify-content-center">
                                        <img th:src="@{/img/book1.jpg}" alt="Book Image" style="width: 100%; height: auto; margin: 0 auto;">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${item.title}"></h5>
                                            <p class="card-text">배송 예정: <span>2 ~ 3일 소요</span></p>
                                            <p class="card-text">가격: <span th:text="${item.price}"/>원 (<span th:text="${item.discount}"/> 원 할인)</p>

                                            <!-- 개수 수정 input -->
                                            <div class="col-md-3 input-group p-0">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-outline-secondary" type="button" th:id="'decreaseQty-' + ${item.id}">-</button>
                                                </div>
                                                <input type="number" class="form-control" th:value="${item.quantity}" th:id="'quantity-' + ${item.id}" th:name="'quantity-' + ${item.id}" min="1" style="text-align: center;">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" th:id="'increaseQty-' + ${item.id}">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                                        <!-- 삭제 버튼 추가 -->
                                        <button type="button" class="btn btn-danger delete-button" th:attr="data-item-id=${item.id}">삭제</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card p-4">
                            <h4><strong>주문 예상 금액</strong></h4>

                            <table class="cart-card">
                                <tbody>
                                <tr>
                                    <th scope="row">총 상품 가격</th>
                                    <td>
                                        <span style="font-size: 20px"><strong id="total-goods-value">0</strong></span>
                                        원
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">총 할인</th>
                                    <td>
                                        <span style="font-size: 20px; color:red;">-<strong id="total-discount">0</strong></span>
                                        원
                                    </td>
                                </tr>
                                <tr style="border-bottom: solid 1px #bebebe">
                                    <th scope="row">총 배송비</th>
                                    <td>
                                        <span style="font-size: 20px"><strong id="total-delivery-fee">0</strong></span>
                                        원
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td>
                                        <span style="font-size: 24px"><strong id="total-value">0</strong></span>
                                        원
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="row-md-12">
                                <button class="btn btn-primary btn-block" id="submit-button" disabled>결제하기</button>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- 장바구니가 빈 경우 -->
                <div th:if="${cart.isEmpty()}">
                    <p>장바구니가 비어 있습니다.</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        © 2024 no24 Bookstore. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCv6vY+6X5ZbJlFX+XpgYuU=" crossorigin="anonymous"></script>

    <script>
        // 전체 선택 체크박스 이벤트
        document.getElementById('selectAll').addEventListener('click', function() {
            let checkboxes = document.querySelectorAll('.item-checkbox');
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = document.getElementById('selectAll').checked;
            });
            updateTotalPrice();
            updateSubmitButtonState();
        });

        // 개별 선택 체크박스 이벤트
        let itemCheckboxes = document.querySelectorAll('.item-checkbox');
        itemCheckboxes.forEach(function(checkbox) {
            checkbox.addEventListener('click', function() {
                let allChecked = true;
                itemCheckboxes.forEach(function(itemCheckbox) {
                    if (!itemCheckbox.checked) {
                        allChecked = false;
                    }
                });
                document.getElementById('selectAll').checked = allChecked;
                updateTotalPrice();
                updateSubmitButtonState();
            });
        });

        // 결제 버튼 상태 업데이트 함수
        function updateSubmitButtonState() {
            let submitButton = document.getElementById('submit-button');
            let anyCheckboxChecked = false;
            itemCheckboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    anyCheckboxChecked = true;
                }
            });
            submitButton.disabled = !anyCheckboxChecked;
        }

        // 주문 예상 금액 갱신 함수
        function updateTotalPrice() {
            let total = 0;
            let discount = 0;
            let itemCheckboxes = document.querySelectorAll('.item-checkbox');

            itemCheckboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    let itemElements = checkbox.parentElement.parentElement.querySelectorAll('span');
                    console.log(itemElements);

                    let itemPrice = parseFloat(itemElements[1].textContent);
                    let itemDiscount = parseFloat(itemElements[2].textContent);
                    let itemQuantity = checkbox.parentElement.parentElement.querySelectorAll('[id^="quantity-"]')[0].value;

                    total += (itemPrice * itemQuantity);
                    discount += (itemDiscount * itemQuantity);
                }
            });

            total -= discount;

            let deliveryFee = total >= 30000 ? 0 : total != 0 ? 3000 : 0;
            let totalPrice = total + deliveryFee;
            console.log("할인액: " + discount + "배달비 : " + deliveryFee + ", 총 금액: " + totalPrice)

            let totalGoodsValue = document.querySelector('#total-goods-value');
            let totalDiscount = document.querySelector('#total-discount');
            let totalDelivery = document.querySelector('#total-delivery-fee');
            let totalValue = document.querySelector('#total-value');

            totalGoodsValue.innerText = total;
            totalDiscount.innerHTML = 0;
            totalDelivery.innerHTML = deliveryFee;
            totalValue.innerHTML = totalPrice;
        }

        // todo: 상품 수량 업데이트 하는 함수
        // 상품 수량을 업데이트 하는 함수
        function updateQuantity(itemId, newQuantity) {
            // todo: customerId 가져오기 => jsessionId
            // var customerId = {함수 정의}

            fetch('/cart/update/{customerId}', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'customerId': customerId // customerId를 헤더에 추가
                },
                body : JSON.stringify({
                    book_isbn: itemId,
                    quantity: newQuantity
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("수량 업데이트 실패!");
                    }
                    console.log("수량 업데이트 성공!");
                })
                .catch(error => {
                    console.error("수량 업데이트 error : " + error);
                })
        }

        document.addEventListener("DOMContentLoaded", function() {
            // 모든 증가 버튼에 대한 이벤트 리스너 추가
            document.querySelectorAll('[id^="increaseQty-"]').forEach(function(button) {
                button.addEventListener("click", function() {
                    // 해당 버튼의 ID에서 아이템 ID를 추출
                    var itemId = this.id.split("-")[1];
                    // 해당 아이템의 수량 입력 필드 가져오기
                    var quantityInput = document.getElementById('quantity-' + itemId);
                    // 현재 수량 가져오기
                    var currentQuantity = parseInt(quantityInput.value);

                    // 수량이 50 미만인 경우에만 수량 증가
                    if (currentQuantity < 50) {
                        quantityInput.value = currentQuantity + 1;
                    }

                    // 변경된 수량
                    var newQuantity = parseInt(quantityInput.value);

                    updateQuantity(itemId, newQuantity);
                    updateTotalPrice();
                });
            });

            // 모든 감소 버튼에 대한 이벤트 리스너 추가
            document.querySelectorAll('[id^="decreaseQty-"]').forEach(function(button) {
                button.addEventListener("click", function() {
                    // 해당 버튼의 ID에서 아이템 ID를 추출
                    var itemId = this.id.split("-")[1];
                    // 해당 아이템의 수량 입력 필드 가져오기
                    var quantityInput = document.getElementById('quantity-' + itemId);
                    // 현재 수량 가져오기
                    var currentQuantity = parseInt(quantityInput.value);
                    // 수량이 1 이상인 경우에만 수량 감소
                    if (currentQuantity > 1) {
                        quantityInput.value = currentQuantity - 1;
                    }

                    // 변경된 수량
                    var newQuantity = parseInt(quantityInput.value);

                    updateQuantity(itemId, newQuantity);
                    updateTotalPrice();
                });
            });

            // 모든 수량 input에 대한 이벤트 리스너 추가
            document.querySelectorAll('[id^="quantity-"]').forEach(function(input) {
                input.addEventListener("input", function() {
                    var value = parseInt(this.value);

                    if(isNaN(value) || value < 1) {
                        this.value = 1;
                    }
                    if(value > 50) {
                        this.value = 50;
                    }
                    updateTotalPrice();
                });
            });
        });
    </script>
</body>
</html>
